<header class="header">
    <nav class="nav">
    <ul class="header_menu">
        <li class="nav-link"><%= current_user.name %></li>
        <li class="header_menu_title"><%= link_to "My sampleApp", root_path, class: "nav-link" %></li>
        <li>
        <ul class="header_menu_inner">
            <li>
            <%= link_to new_list_path, class: "nav-link" do %>
                <span class="mr-1">リストを作成</span>
                <i class="far fa-edit"></i>
            <% end %>
            </li>
            <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        </ul>
        </li>
    </ul>
    </nav>
</header>
